@using Microsoft.AspNetCore.Components.Forms
<div class="author-form">
    <div class="form-layout">
        <label>
            Author Name:
            <InputText id="author-name" @bind-Value="Model.Name" name="@(nameof(Model.Name))"/>
        </label>
        <button type="button" class="btn btn-primary mt-2 create-author-btn" @onclick="HandleSubmit">
            @SubmitButtonText
        </button>
    </div>
</div>

