@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="home-page">
    <h1>Library Management</h1>

    <div class="suggestion-panel">
        <label>
            Help me find a book:
            <InputTextArea @bind-Value="@BookSuggestionInput"/>
        </label>

        <FluentButton Appearance="ButtonAppearance.Primary"  OnClick="@GenerateBookSuggestions">Suggest Me!</FluentButton>

        <div class="suggestion-result">
            @if (IsLoadingSuggestions)
            {
                <p>Loading suggestions...</p>
            }

            @if (!string.IsNullOrWhiteSpace(BookSuggestionResult))
            {
                <pre>
@BookSuggestionResult
</pre>
            }

        </div>
    </div>

    <FluentStack Orientation="Orientation.Vertical">
        @foreach (var book in BookDetails)
        {
            <FluentLink @key="book.Id" Href="@($"/book/{book.Id}")">@book.Title</FluentLink>
        }

    </FluentStack>

</div>

